*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
html,body{
    height: 100%;
    width:100%;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 50px;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
@property --rotate{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderAnimate{
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}
.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    border-radius: 15px;
    background:
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate),black,rgba(255, 0, 123),black) border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    animation: borderAnimate 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition:all 0.3s linear;
    box-shadow: 0 0 0px rgba(255, 0, 123);
    color: white;
    text-shadow: 0 0 5px rgba(255, 0, 123) ;
}
.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 50px rgba(255, 0, 123);
    color:rgba(255, 0, 123) ;
    text-shadow: 0 0 10px rgba(255, 0, 123) ;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}