*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
html,body{
    height: 100%;
    width:100%;
    background-color: black;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.box{
    height: 200px;
    width: 200px;
    transition: all 0.3s linear;
}
.red{
    background-color: rgb(125, 3, 3);
    
}
.blue{
    background-color: rgb(2, 2, 133);
}
.green{
    background-color: rgb(8, 61, 8);
}

.box:hover{
    transform: scale(1.2) !important;
}

/* ✅ FIXED LINE */
body:has(.box:hover) .box{
    transform: scale(0.8);
}